body {
    font-family: 'Nerko One', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;/*to treat float style in various dives*/
}
html{
  scroll-behavior:smooth;

}
*, ::after, ::before {
  box-sizing: border-box;
}

/* Typeography General*/
p{ 
    font-size: 1rem;
    font-weight:bold;
    line-height: 1.8em;  
    color:#3a3737;
    font-family: 'Poppins', sans-serif;
}
/*for (about us/our services/let's talking/resources)*/
h1{

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#004aad;
    padding:10px;
    text-align: center;
    }
/*for (our services headers and resources headers*/
h2{

color:#004aad;
font-family: 'Poppins', sans-serif;
font-size: 23px;
font-weight: bold;
text-align: center;

}
h3{
    color:#004aad;
    font-size: 21px;
font-weight: bold;
}

h4{
    color:black;
    font-size: 18px;
    font-weight: bolder;
}

/* start landing page*/
/*insert background image to the page*/


.home {
    min-height: 100vh;
    background-image: url("../imgs/1.png");
    background-size: cover;
    position: relative;
    transition: all 1s ease-in-out;/*to smooth changing background*/
    background-repeat: no-repeat;/*for responsive background*/
    background-position: center center;
    background-attachment: fixed;
}

/*start responsive nav bar*/



nav{
    background:#a5c7ea;
    max-height:85px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    text-transform: capitalize;
    user-select: none;
  }
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  nav .logo{
    float: left;
  width:180px;
  height: 60px;
    padding-left: 50px;
  }
  nav .logo img{
    width: 65%;
    height: 134%;
  }
  nav ul{
    float: right;
    margin-right: 2px;
    list-style: none;
  padding:0 35px 0 0 ;
  }
  nav ul li{
    float: left;
   
    position: relative;
  
  }
  nav ul li a{
    color:black;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
  
    
  }
  .padding{
    padding: 8px 15px;
  }
  nav ul li a:hover{
    color: black;
    border-radius: 5px;
    box-shadow:  0 0 5px  #004aad,
                 0 0 10px #004aad;
   
                 
  }
  nav ul ul li:hover{
      background-color: #a5c7ea;
  }

  nav ul ul li a:hover{
    box-shadow: none;
  
  }
  nav ul ul{
    z-index: 1000;
    position: absolute;
    top: 70px;
    border-top: 3px solid #004aad;
   left:-36px;
    transition: top .3s;
   padding:0px;
   background-color: white;
  opacity: 0;
  visibility: hidden;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 240px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align: center;
  }
  nav ul ul li a{
    line-height: 35px;
    
  }
  
  nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,.icon,nav input{
    display: none;
  }
  .fa-plus{
    font-size: 15px;
    margin-left: 40px;
  }
  @media all and (max-width: 968px) {
    nav ul{
    padding:50px;
    float:left;
      text-align: center;
    border:2px solid blue;
    width:100%;
    }
    nav .logo{
     padding-left: 20px;
    width: 140px;
    }
    .show + a,nav ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    nav ul li a:hover{
      box-shadow: none;
      color:#004aad
    }
    .show{
      display: block;
      color: black;
      font-size: 18px;
     
      line-height: 70px;
      cursor: pointer;
    }
    .show:hover{
      color:#004aad;
      background-color: #a5c7ea;
    }
    .icon{
      display: block;
      color: black;
      position: absolute;
      top: 10px;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
      transform: scaleX(1.5);
     
    }
   
    nav ul ul{
      
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      opacity: 1;
      visibility: visible;
      margin-right: 2px;
     
    }
  
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }


/*end drob down menu of resources*/

.main-home{
  height:100vh;
  width: 100%;
  position: relative;
  overflow: hidden !important;
 
}
.main-home video{

  width:100%;
  height:100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}
.main-home .banner{
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 20px;
  top: 20%;
  left: 20%;
  right: 20%;
 position:absolute;
 text-align: center;
 
}
.main-home .banner h1{
  color:#fff;
  font-size: 3rem;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  background-color: transparent;
}

.main-home .banner h3{
  color:black;
  font-size: 1.5rem;
  font-weight: 400;

}

.main-home .fa-cog{
  position: absolute;
  font-size: 30rem;
  opacity: .15;
  color:#fff;
  animation: rotate 10s linear infinite;/*animation waves*/
}

.main-home .nut1{
  top:10%; left: -15rem;
}

.main-home .nut2{
  bottom:23%; right: -13rem;
  animation-direction: reverse;/*animation waves*/
}
 
/*animation waves*/
@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

/* dynamically create a navigation menu based on the sections of the page */



.about-us{
    margin-top: 60px;
    position: relative;
    overflow: hidden;
  
   /* background:linear-gradient(#D9E1F6, white);*/
}
.why-sai{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:0 4rem;
}
/*div of why sai image*/
.imgoo{
  width:32%;
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
}
.imgoo video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imgoo img {
  width: 95%;
  object-fit: cover;
  border-radius: 10px;
 }
 /*
.about-us::before, .about-us::after{
  content: '';
  position: absolute;
  z-index: -1;
  opacity:.2;
  border-radius: 50%;
}

.about-us::before {
  height: 30rem;
  width: 30rem;
  background: #ccc;
  bottom: 65rem;
  left: -6rem;
  box-shadow: 0px 0 74px -19px  #ccc;
}


.about-us::after {
  height: 30rem;
  width: 30rem;
  background: #004aad;
  top: -3rem;
  right: -1rem;
  box-shadow: 0px 0 74px -19px #004aad;

}
*/





/*start feedback div */
.demo{ 
  background-image:url("../imgs/quot.png") ;
  border-radius: 50px;
 box-shadow: 0px 0 74px -19px #004aad;

}
.testimonial{
    padding: 35px 50px;
    margin: 0 20px 30px;
    border-radius: 0 70px 0 70px;
    border: 5px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
   
}

.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: #036e74;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.testimonial .description{
    font-size: 18px;
    color: black;
    line-height: 30px;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    opacity: 0.8;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{ background: #036e74; }




/*the end of testimonials*/

/*the start of our clients*/
.title{
  margin: 100px auto;
}


.slider{
  display: grid;
  height:250px;
  margin:0px auto;
  width:90%;
  place-items: center;
  
}

.slider-trace{
  display: flex;
  width:calc(250 * 6);
  animation: scroll 20s linear infinite;/*make auto slider*/
 
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;/*make simple popup to elementes*/
}

.slide img{
  width:100%;
  transition: transform 1s;/*make simple popup to elementes*/
}
.slide img:hover{

  transform: translateZ(20px);/*make simple popup to elementes*/
}
/*make auto slider*/
@keyframes scroll {
  0% {
    transform: translateX((0));

  }
  100% {
    transform: translateX(calc(-250px *3));
  }
}





/*the end of our clients*/
/*start our services boxes*/
.our-services{
  display:block;
  padding-bottom: 200px;
  padding-top: 60px;
  position: relative;

 /* background:linear-gradient(#D9E1F6, white);*/
}
.our-services .service{
    display:flex;
    flex-wrap: wrap; 
    margin:auto;
    padding:5%;
  
}


.our-services .service .box{

padding: 4px;
cursor: pointer;
width:28%;/* the half of the headerbox*/
box-sizing: border-box;/* to prevent including porder and padding size to the div size dont use margin if you want to insert margin you have to supstrict it from plan width*/
margin:50px auto ;
align-items: center;
text-align: center;
border-radius:10px;
border: 1px solid #004aad;
border-bottom: 10px solid #004aad;
box-shadow: 5px 5px 5px grey;
height: 250px;
background-color:#a5c7ea;
position:relative;
transition: all 1s ;
}
.our-services .service .box:hover{
  height: 320px;
}
.our-services .service .box .com{

 opacity:0;
 transition: all 1s;
}

.our-services .service .box:hover .com{
 opacity: 1;
  position:absolute;
  bottom:0px;
  text-align: center;
 
  width:100%;

}
.our-services .service .box:hover .prief img{
  transform: rotate(360deg);
  border-radius: 50%;
  width: 170px;
  height: 170px;

}
.our-services .service .box button{
  background-color: white;
  font-size: 20px;
  color: #004aad;
}



.our-services .service .box .prief{
  position:absolute;
  width:100%;
  
  top: -25%;
}
.our-services .service .box .prief img{
  width: 220px;
  height: 220px;
  border-radius: 10px;
 transition:all 1s;
}




/*start designing resources page*/
.resource{
    height: 90vh;
    width:100%;
    
}
.resource img{
  width:100%;
  height: 100%;
}

.all{
  position: relative;
}
.animation-icon{
  
 display: flex;
 justify-content: space-around;
 position:absolute;
 width:100%;


}
.icn{
  width:50px;
animation: movup 20s infinite alternate;
animation-delay: 3s;

}
@keyframes movup{
  0%{transform:translate(0,0);


  }
  100%{transform:translate(0,3000px);
         opacity:.5;
  }
}
.icn1{

animation-delay: 4s;
  width:40px;
  height: 40px;
 
}
.icn2{
  animation: movup 15s infinite alternate;
  animation-delay: 5s;
}
.icn3 {

animation-delay: 4s;

}
.icn4{
  animation: movup 15s infinite alternate;
 

}
.icon5{

  animation-delay: 6s;
  width:35px;
  height: 35px;
}
.icn6{
  animation: movup 15s infinite alternate;
  animation-delay: 7s;
  width:35px;
  height: 35px;
}
.icn7{

  animation-delay: 8s;
 
}


/*
.resource .overlay{
    background-color:#004badba;
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1;
}

.resource .text{

    position: absolute;
    left:45%;
    top:25%;
    color:white;
    transform: translate(-50% ,-50%);
}
.resource .text h1{
font-size: 50px;
color:black;
background-color:transparent;
}
.resource .text p{
font-size: 20px;
font-family: 'Chewy', cursive;
color:black;
}
*/
/*applay a container just for applay margin and padding to the page*/


.candy-wrapper{
width: 100%;
margin:0 auto;
position:relative;

}
/*pages with table of content */
.sidebar{
height: auto; /* Full-height: remove this if you want "auto" height */
width:20%; /* Set the width of the sidebar */
background-color:#a5c7ea;
padding: 17px;
padding-top: none;
box-sizing: border-box;
box-shadow: 10px 10px 10px gray;
display: inline-block;
vertical-align: top;

}
.fixedsticky {
    top: 15px;
position:sticky
}
.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
	position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
	position: fixed;
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}

.sidebar h2{
    margin:0px;
}

.sidebar li{
    padding-top: 10px;
}
.sidebar li:hover{
    text-decoration: underline;
    
}
.sidebar a{
    text-decoration: none;
}
.main{
 width:74%;
padding:40px;
background-color:rgba(174, 218, 243, 0.323) ;
display: inline-block;
box-sizing: border-box;
vertical-align: top;
margin:2%;
}
.main h2{
  background-color: white;


}
.section:first-child{
    margin-top:150px;
}
.section{

width:100%;
margin-top:50px;
}

.section .sorty{
    text-align: center;
    width:95%;
    margin:auto;
    max-width: 1000px;

}
.section .sorty img{
    width:100%;
}

.section span{
  font-size: 1rem;
    font-weight: bolder;
    color:rgb(153, 151, 6);
    


}
/*some styles for videos*/
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.content-pag{
    background-image: url("../imgs/content-marketing-4111003_1280.jpg");

}
.advertising-pag{
    background-image: url("../imgs/advertising\ .png");
}
.keys-pag{
    background-image: url("../imgs/5\ kayes.png");
}
#email-marketing-page{

    background-image: url("../imgs/email-marketing-2362038_1920");

}

.section li{
    font-size: 1rem;
    font-weight:bold;
    line-height: 1.7em;  
    color:#3a3737;
    margin: 20px;
}

.content-king
{
    display:flex;
    margin-top:20px;
    margin-bottom: 50px;
    box-sizing: border-box;

}
.content-king-reverse{
  display:flex;
  margin-top:20px;
  margin-bottom: 50px;
  box-sizing: border-box;

}
.contento
{
width: 68%;
text-align: center;
}

 .imgo{
text-align: center;
width: 32%;
padding: 20px;
}

.imgo img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*div content of services pages*/

.container-resources{
  margin:0 auto;
  width:90%;
  box-sizing: border-box;
  
}

.free-div{
  display:flex;
  width:100%;
  margin:100px 0px;
  box-sizing: border-box;
}
.free-div .free-content{
width:70%;
padding:20px 0px 0px 150px;
}

.free-div .free{
  width:30%;
 
}

.free-div .free img{
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}

.section .analytics{
    
display:flex;

}
.section .analytics img{
    height:auto;
    object-fit: cover;
    width: 32%;
    margin:auto;
}


 .index{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin:auto;

}
.index-component{
    display:block;
    width:32%;
}
.index-component li{
padding-top: 15px;
}
.index-component h3{
  text-align: center;
}
.index-component a{
    text-decoration: none;
    color: #004aad;
    font-size: 20px;
    
}
.index-component li:hover{
    text-decoration:underline;
}
/*end designing resources page*/

/*setting up popup pox stayles*/
.popup-overlay{
    position:fixed;
    background-color:#000000b0;
    left:0;
    top:0;
    z-index:1000;
    width:100%;
    height:100%;


}
.popup-box{
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border:1px solid black;
    padding:10px;
    z-index: 1001;

}


.close-btn{
    position:absolute;
    z-index: 1001;
    font-size: 4em;
    color:white;
    left:19%;
    cursor: pointer;

}

.lets-talking{
    background-color:#a5c7ea;
    display:block;
border-top:5px solid black;
    border-radius: 70px 70px 0 0;

}
.lets-talking .contact{
    display:flex;
    flex-wrap: wrap; 
    margin: 10px 30px 0 50px;
    align-items: center;

}

 .contacta{

  
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    justify-content: space-between;

}
.contacta a{
  margin:3px;
}

.entire{
    display:flex;
    flex-wrap: wrap;
    width:100%;

}
.component{
    display:block;
    width:20%;
    margin:0 15px;
    text-align:left;
 
}
.component h3{
    padding-left: 40px;
    text-align:left;
    color:black;

font-family: 'Poppins', sans-serif;
}

.component li{
    list-style: none;
    margin-top:15px;
}
.component a{
    text-decoration: none;
color:black;
font-size:18px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
padding-top: 2px;
}
.component a:hover{
    color:white;
}





.footer{
    background-color: rgb(56, 53, 53);
    color:rgb(211, 209, 209);
    font-weight: bolder;
    text-align: center;
    width:100%;
    padding:none;
    height:50px;
    padding-top: 25px;
    padding-left: 0px;
    
}



/*add some styles to webpage to be responsive with the small and mobile devices */

@media (max-width:991px){
 

.lets-talking .contact{
    display: block;
    margin: 30px 30px 0 30px;
    text-align: center;

}
.lets-talking .contact .contacta{
    width:100%;
    text-align: center;
    margin:30px 30px 0 30px;
}
.section .analytics{
display: block;
text-align: center;
margin: auto;
}

.section .analytics img {
   
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  
}
.resource .text p {
  font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left: 40px;
}
.content-king {
display:block;
}
.why-sai{
  flex-flow: column-reverse;
  padding:0 2rem;
}
.content-king-reverse{
  flex-direction: column-reverse;
}


.contento{
  width: 100%;
  padding:0px;
  margin:20px
}
.imgo{
  padding:0px;
  margin:auto;
  width:50%;
}


.imgoo{
  position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.imgoo img{
  width:80%;
}

.free-div{
  display: block;
  text-align: center;
  overflow-x: hidden;
}
.free-div .free-content,
.free-div .free{
  width: 100%;
  max-width: none;
  margin-bottom: 30px;
  padding:0px;
  
}
.free-div .free img{
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}


.component{
    display:block;
    width:45%;
    margin:10px;
    list-style: none;

}
.candy-wrapper{
  width:100%;
  display:flex;
  flex-direction:column;
  margin:auto;
  box-sizing: border-box;
}
.fixedsticky{
  position:relative;
 
}
.candy-wrapper .main{
  margin: 10px;
  width:97%;
  order:2;
  padding:15px;
}
.candy-wrapper .sidebar{
width: 93%;
margin: 25px;
order:1;
}
.our-services .service .box{
  text-align: center;

  width:46%;
}
.index-component{
  display:block;
  width:46%;
  margin:5px;
}
.index-component li{
padding-top: 15px;
margin:2px
}
.index-component a{
  font-size: 18px;
}
.main-home .banner h1{
  font-size: 2.5rem;
}

.main-home .banner h3{
  font-size: 1rem;
}
.main-home  .wave{
  height:5rem;
}
.main-home .fa-cog {
  font-size: 20rem;
}
.slide{
  width:150px
}
}


/*styles of feedback*/



/*add some styles to webpage to be responsive with devices with the medium and larg screen */

@media (max-width:650px){
    .our-services .service .box{
        text-align: center;
       
        width:80%;
    }
    .component{
      width:80%;
    }
    .index-component {
      width:85%;
     }
     .main-home .banner h1{
      font-size: 1.5rem;
    }
    

    }
    @media (max-width:490px){
      .our-services .service .box{
        text-align: center;
        width:90%;
        height:260px;
    }
    .our-services .service .box:hover{
      height:360px;
    }
    .our-services .service .box .prief img{

      width: 200px;
      height: 200px;
    }
    .icn1, .icn2, .icn3, .icn4, .icn5, .icn6, .icn7{
      width:20px;
      height: 20px;
    }
    }
    
   

  


